@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap');
@font-face {
    font-family: TRON;
    src: url(TRON.TTF);
}

body{
    background-color: #0c141f !important;
}

* {
    text-align: center;
    margin: 0px;
    color: #6fc3df !important;
    font-family: 'Source Code Pro', monospace;
}

.top-bar {
    margin: 10px;
}

.top-bar a {
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

h1 {
    color: #e6ffff;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    font-size: 3rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.top-bar ul {
    display: flex;
    gap: 14px;
    justify-content: flex-end;
    align-items: center;
}

ul button {
    
        height: 40px;
        width: 6%;
        color: #df740c;
    
}

#resume {
    height: 40px;
    width: 90px;
    border: solid 2px #6fc3df;
    border-radius: 6px;
}

#resume:hover {
    cursor: pointer;
    font-size: 18px;
    border: solid 2px #6fc3df;
    border-radius: 6px;
}

