@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap');
@font-face {
    font-family: TRON;
    src: url(TRON.TTF);
}

body {
    background: #0c141f;
}

* {
    margin: 0;
    color: #6fc3df;
    font-family: 'Ubuntu Mono', monospace; 
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 200px;
}

.top-nav {
    margin: 10px;
}

.top-nav a {
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

a {
    text-decoration: none;
}


h1 {
font-family: TRON;
margin-top: -36px;
color: #e6ffff;
margin-bottom: -8px;
}

h2 {
    margin-bottom: 36px;
}

#contact {
    height: 80px;
    width: 12%;
    color: #df740c;
    font-size: 20px;
    border-radius: 12px;
}

p {
    margin-bottom: 40px;
}

ul {
    list-style: none;
}

.top-nav ul {
    display: flex;
    gap: 14px;
    justify-content: flex-end;
    align-items: center;
}

#resume {
    height: 40px;
    width: 90px;
    border: solid 2px #6fc3df;
    border-radius: 6px;
}

#resume:hover {
    cursor: pointer;
    font-size: 16px;
    border: solid 2px #6fc3df;
    border-radius: 6px;
}

